[Unit]
Description=ASDA Server
After=network.target mysql.service
Wants=mysql.service

[Service]
Type=simple
User=asda
Group=asda
WorkingDirectory=/opt/asda/server
ExecStart=/usr/bin/node /opt/asda/server/server.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=asda-server
Environment=NODE_ENV=production
# If your server using Cloudflare, uncomment the next line
# Environment=BEHIND_CLOUDFLARE=true
# If your server is not directly serving HTTPS, uncomment the next line
# Environment=DISABLE_SECURE_COOKIE=true

[Install]
WantedBy=multi-user.target